<template name="profileCard">
  {{#with profile}}
    <div class="container">
        <div class="row">
          <div class="alert alert-success">
            <div class="thumbnail">
               <img src="{{headimgurl}}" alt="通用的占位符缩略图">
            </div>
            <p>{{nickname}} &nbsp;<span class="glyphicon glyphicon-user"></span></p>
            <p>{{province}} {{city}} @{{country}}</p>
          </div>
        </div>
    </div>
  {{/with}}
</template>

<template name="profile">
  <div class="profile_header">
    {{#if currentUser}}
        {{#with currentUser}}
          {{> profileCard profile=profile}}
        {{/with}}
    {{else}}
      {{> wechatLogin}}
    {{/if}}
  </div>
</template>
