<template name="header">
  <!-- Static navbar -->
  <div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{pathFor 'frontpage'}}">毛豆网MBaaS平台</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="{{active 'frontpage'}}"><a href="{{pathFor 'frontpage'}}">首页</a></li>
          <!-- <li class="{{active 'documentsIndex'}}"><a href="{{pathFor 'documentsIndex'}}">Documents</a></li> -->
          {{#if navHas "documents"}}
            <li class="{{active 'documentsIndex'}}"><a href="{{pathFor 'documentsIndex'}}">文章</a></li>
          {{/if}}
          {{#if navHas "posts"}}
            <li class="{{active 'postsIndex'}}"><a href="{{pathFor 'postsIndex'}}">博客</a></li>
          {{/if}}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="{{active 'about'}}"><a href="{{pathFor 'about'}}">关于我们</a></li>
          <li><a href="https://github.com/maodouio/meteor-skeleton" target="_blank">Github</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</template>
